
@*<div class="tag-area">
    <ul>
        <li><a href="#">Manual</a></li>
        <li><a href="#">Liberty</a></li>
        <li><a href="#">Recomendation</a></li>
        <li><a href="#">Interpritation</a></li>
        <li><a href="#">Manual</a></li>
        <li><a href="#">Liberty</a></li>
        <li><a href="#">Recomendation</a></li>
        <li><a href="#">Interpritation</a></li>
    </ul>
</div>*@