USE [master]
GO
/****** Object:  Database [CoursEnLigne]    Script Date: 01/10/2018 16:04:21 ******/
CREATE DATABASE [CoursEnLigne]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoursEnLigne', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CoursEnLigne.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CoursEnLigne_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CoursEnLigne_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoursEnLigne].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoursEnLigne]
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_ACCOUNTTYPE]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_ACCOUNTTYPE] FROM [int] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_ADDRESS]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_ADDRESS] FROM [varchar](75) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_ANSWERCONTENT]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_ANSWERCONTENT] FROM [varchar](1000) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_BIRTHDAY]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_BIRTHDAY] FROM [datetime] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_CHAPTERNUMBER]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_CHAPTERNUMBER] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_CODE]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_CODE] FROM [uniqueidentifier] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_DATETIME]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_DATETIME] FROM [datetime] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_DESCRIPTION]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_DESCRIPTION] FROM [varchar](2000) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_DURATION]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_DURATION] FROM [bigint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_EMAIL]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_EMAIL] FROM [varchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_EXCERCICENUMBER]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_EXCERCICENUMBER] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_FAX]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_FAX] FROM [varchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_FIELDSIZE]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_FIELDSIZE] FROM [int] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_FILE]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_FILE] FROM [varchar](100) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_GENDER]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_GENDER] FROM [uniqueidentifier] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_ID]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_ID] FROM [uniqueidentifier] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_LESSONCONTENT]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_LESSONCONTENT] FROM [varchar](max) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_NAME]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_NAME] FROM [varchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_PASSWORD]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_PASSWORD] FROM [varchar](255) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_PHONE]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_PHONE] FROM [varchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_POINTS]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_POINTS] FROM [numeric](5, 2) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_POSTALCODE]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_POSTALCODE] FROM [varchar](5) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_TITLE]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_TITLE] FROM [varchar](200) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_TOWN]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_TOWN] FROM [varchar](25) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_WEBSITE]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_WEBSITE] FROM [varchar](100) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[DOM_WORDING]    Script Date: 01/10/2018 16:04:21 ******/
CREATE TYPE [dbo].[DOM_WORDING] FROM [varchar](25) NULL
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[ACCID] [dbo].[DOM_ID] NOT NULL,
	[CTRCODE] [dbo].[DOM_CODE] NOT NULL,
	[ATPCODE] [dbo].[DOM_CODE] NOT NULL,
	[ACCEMAIL] [dbo].[DOM_EMAIL] NOT NULL,
	[ACCPASSWORD] [dbo].[DOM_PASSWORD] NULL,
	[ACCPHONECONTACT] [dbo].[DOM_PHONE] NULL,
	[ACCPICTURE] [dbo].[DOM_FILE] NULL,
	[ACCINSCRIPTIONDATE] [dbo].[DOM_DATETIME] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountStudent]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountStudent](
	[ACSID] [dbo].[DOM_ID] NOT NULL,
	[ACCID] [dbo].[DOM_ID] NOT NULL,
	[GENCODE] [dbo].[DOM_CODE] NOT NULL,
	[ACSFIRSTNAME] [dbo].[DOM_NAME] NOT NULL,
	[ACSNAME] [dbo].[DOM_NAME] NOT NULL,
	[ACSBIRTHDAY] [dbo].[DOM_BIRTHDAY] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountStudy]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountStudy](
	[STDCODE] [dbo].[DOM_CODE] NOT NULL,
	[ACCID] [dbo].[DOM_ID] NOT NULL,
 CONSTRAINT [PK_ACCOUNTSTUDY] PRIMARY KEY CLUSTERED 
(
	[STDCODE] ASC,
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountTeacher]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountTeacher](
	[ACTID] [dbo].[DOM_ID] NOT NULL,
	[ACCID] [dbo].[DOM_ID] NOT NULL,
	[GENCODE] [dbo].[DOM_CODE] NOT NULL,
	[ACTFIRSTNAME] [dbo].[DOM_NAME] NOT NULL,
	[ACTNAME] [dbo].[DOM_NAME] NOT NULL,
	[ACTBIRTHDAY] [dbo].[DOM_BIRTHDAY] NOT NULL,
	[ACTTOWN] [dbo].[DOM_TOWN] NOT NULL,
	[ACTPOSTALCODE] [dbo].[DOM_POSTALCODE] NOT NULL,
	[ACTADDRESS] [dbo].[DOM_ADDRESS] NOT NULL,
	[ACTCV] [dbo].[DOM_FILE] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountType](
	[ATPCODE] [dbo].[DOM_CODE] NOT NULL,
	[ATPWORDING] [dbo].[DOM_WORDING] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Account_Id] [dbo].[DOM_ID] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CTGID] [dbo].[DOM_ID] NOT NULL,
	[CTGNAME] [dbo].[DOM_TITLE] NOT NULL,
	[CTGDESCRIPTION] [dbo].[DOM_DESCRIPTION] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CTRCODE] [dbo].[DOM_CODE] NOT NULL,
	[CTRNAME] [dbo].[DOM_NAME] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Culture]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Culture](
	[CLTCODE] [dbo].[DOM_TITLE] NOT NULL,
	[CLTWORDING] [dbo].[DOM_WORDING] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Curriculum]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Curriculum](
	[CURID] [dbo].[DOM_ID] NOT NULL,
	[STDCODE] [dbo].[DOM_CODE] NOT NULL,
	[CURNAME] [dbo].[DOM_NAME] NOT NULL,
	[CURDESCRIPTION] [dbo].[DOM_DESCRIPTION] NOT NULL,
	[CURCREDIT] [dbo].[DOM_POINTS] NULL,
	[CURLEVELMIN] [dbo].[DOM_DESCRIPTION] NULL,
	[CURDURATION] [dbo].[DOM_DURATION] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CurriculumCategory]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurriculumCategory](
	[CTGID] [dbo].[DOM_ID] NOT NULL,
	[CURID] [dbo].[DOM_ID] NOT NULL,
 CONSTRAINT [PK_CURRICULUMCATEGORY] PRIMARY KEY CLUSTERED 
(
	[CTGID] ASC,
	[CURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CurriculumLessons]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurriculumLessons](
	[LSNID] [dbo].[DOM_ID] NOT NULL,
	[CURID] [dbo].[DOM_ID] NOT NULL,
	[CLSCREDIT] [dbo].[DOM_POINTS] NOT NULL,
 CONSTRAINT [PK_CURRICULUMLESSONS] PRIMARY KEY CLUSTERED 
(
	[LSNID] ASC,
	[CURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CurriculumSubscription]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurriculumSubscription](
	[ACCID] [dbo].[DOM_ID] NOT NULL,
	[CURID] [dbo].[DOM_ID] NOT NULL,
	[CSBDATE] [dbo].[DOM_DATETIME] NOT NULL,
 CONSTRAINT [PK_CURRICULUMSUBSCRIPTION] PRIMARY KEY CLUSTERED 
(
	[ACCID] ASC,
	[CURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DocumentConfidentiality]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentConfidentiality](
	[DCFCODE] [dbo].[DOM_CODE] NOT NULL,
	[DCFWORDING] [dbo].[DOM_WORDING] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DocumentState]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocumentState](
	[DCSCODE] [dbo].[DOM_CODE] NOT NULL,
	[DCSWORDING] [dbo].[DOM_WORDING] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EntityStrings]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EntityStrings](
	[ESTENTITYID] [dbo].[DOM_ID] NOT NULL,
	[CLTCODE] [dbo].[DOM_TITLE] NOT NULL,
	[ESTWORDING] [dbo].[DOM_TITLE] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Exercice]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Exercice](
	[EXCID] [dbo].[DOM_ID] NOT NULL,
	[LSNID] [dbo].[DOM_ID] NOT NULL,
	[EXCTITLE] [dbo].[DOM_TITLE] NULL,
	[EXCDESCRIPTION] [dbo].[DOM_DESCRIPTION] NULL,
	[EXCDATE] [dbo].[DOM_DATETIME] NOT NULL,
	[EXCCOMMENT] [dbo].[DOM_DESCRIPTION] NULL,
	[EXCDURATION] [dbo].[DOM_DURATION] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExerciceCorrection]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExerciceCorrection](
	[ACCID] [dbo].[DOM_ID] NOT NULL,
	[EXDID] [dbo].[DOM_ID] NOT NULL,
	[ECRDATE] [dbo].[DOM_DATETIME] NOT NULL,
	[ECRAPOINTS] [dbo].[DOM_POINTS] NOT NULL,
 CONSTRAINT [PK_EXERCICECORRECTION] PRIMARY KEY CLUSTERED 
(
	[ACCID] ASC,
	[EXDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExerciceDone]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExerciceDone](
	[EXDID] [dbo].[DOM_ID] NOT NULL,
	[EXCID] [dbo].[DOM_ID] NOT NULL,
	[ACCID] [dbo].[DOM_ID] NOT NULL,
	[EXDDATE] [dbo].[DOM_DATETIME] NOT NULL,
	[EXDCOMMENT] [dbo].[DOM_DESCRIPTION] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExerciceQuestion]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExerciceQuestion](
	[EXQCODE] [dbo].[DOM_CODE] NOT NULL,
	[EXCID] [dbo].[DOM_ID] NOT NULL,
	[FLDCODE] [dbo].[DOM_CODE] NULL,
	[EQTCODE] [dbo].[DOM_CODE] NOT NULL,
	[EQCCODE] [dbo].[DOM_CODE] NULL,
	[EXQNUMBER] [dbo].[DOM_EXCERCICENUMBER] NOT NULL,
	[EXQQUESTION] [dbo].[DOM_DESCRIPTION] NOT NULL,
	[EXQANSWER] [dbo].[DOM_ANSWERCONTENT] NULL,
	[EXQPOINTS] [dbo].[DOM_POINTS] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExerciceQuestionAnswer]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExerciceQuestionAnswer](
	[EXDID] [dbo].[DOM_ID] NOT NULL,
	[EXQCODE] [dbo].[DOM_CODE] NOT NULL,
	[EQAVALUE] [dbo].[DOM_ANSWERCONTENT] NULL,
 CONSTRAINT [PK_EXERCICEQUESTIONANSWER] PRIMARY KEY CLUSTERED 
(
	[EXDID] ASC,
	[EXQCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExerciceQuestionChoice]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExerciceQuestionChoice](
	[EQCCODE] [dbo].[DOM_CODE] NOT NULL,
	[EQCANWSER] [dbo].[DOM_DESCRIPTION] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExerciceQuestionType]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExerciceQuestionType](
	[EQTCODE] [dbo].[DOM_CODE] NOT NULL,
	[EQTWORDING] [dbo].[DOM_WORDING] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FieldType]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FieldType](
	[FLDCODE] [dbo].[DOM_CODE] NOT NULL,
	[FLDWORDING] [dbo].[DOM_WORDING] NOT NULL,
	[FLDMINSIZE] [dbo].[DOM_FIELDSIZE] NULL,
	[FLDMAXSIZE] [dbo].[DOM_FIELDSIZE] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FollowState]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FollowState](
	[FLSCODE] [dbo].[DOM_CODE] NOT NULL,
	[FLSWORDING] [char](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gender](
	[GENCODE] [dbo].[DOM_CODE] NOT NULL,
	[GENWORDING] [dbo].[DOM_WORDING] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lesson](
	[LSNID] [dbo].[DOM_ID] NOT NULL,
	[STDCODE] [dbo].[DOM_CODE] NOT NULL,
	[ACCID] [dbo].[DOM_ID] NOT NULL,
	[DCSCODE] [dbo].[DOM_CODE] NOT NULL,
	[DCFCODE] [dbo].[DOM_CODE] NOT NULL,
	[LSNTITLE] [dbo].[DOM_TITLE] NOT NULL,
	[LSNDESCRIPTION] [dbo].[DOM_DESCRIPTION] NOT NULL,
	[LSNTARGET] [dbo].[DOM_DESCRIPTION] NOT NULL,
	[LSNDATE] [dbo].[DOM_DATETIME] NOT NULL,
	[LSNPICTURE] [dbo].[DOM_FILE] NULL,
	[LSNDURATION] [dbo].[DOM_DURATION] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LessonChapter]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LessonChapter](
	[LSCCODE] [dbo].[DOM_CODE] NOT NULL,
	[LSNID] [dbo].[DOM_ID] NOT NULL,
	[LSCNUMBER] [dbo].[DOM_CHAPTERNUMBER] NOT NULL,
	[LSCTITLE] [dbo].[DOM_TITLE] NOT NULL,
	[LSCDESCRIPTION] [dbo].[DOM_DESCRIPTION] NULL,
	[LSCCONTENT] [dbo].[DOM_LESSONCONTENT] NOT NULL,
	[LSCDURATION] [dbo].[DOM_DURATION] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LessonFollowed]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonFollowed](
	[ACCID] [dbo].[DOM_ID] NOT NULL,
	[LSNID] [dbo].[DOM_ID] NOT NULL,
	[FLSCODE] [dbo].[DOM_CODE] NOT NULL,
	[LSFDATE] [dbo].[DOM_DATETIME] NOT NULL,
	[LSFCHAPTER] [dbo].[DOM_CHAPTERNUMBER] NULL,
	[LSFPART] [dbo].[DOM_CHAPTERNUMBER] NULL,
 CONSTRAINT [PK_LessonFollowed] PRIMARY KEY CLUSTERED 
(
	[ACCID] ASC,
	[LSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LessonPart]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LessonPart](
	[LSPCODE] [dbo].[DOM_CODE] NOT NULL,
	[LSCCODE] [dbo].[DOM_CODE] NOT NULL,
	[LSPNUMBER] [dbo].[DOM_CHAPTERNUMBER] NOT NULL,
	[LSPTITLE] [dbo].[DOM_TITLE] NOT NULL,
	[LSPCONTENT] [dbo].[DOM_LESSONCONTENT] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LSPCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Study]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Study](
	[STDCODE] [dbo].[DOM_CODE] NOT NULL,
	[STDNAME] [dbo].[DOM_NAME] NOT NULL,
	[STDDESCRIPTION] [dbo].[DOM_DESCRIPTION] NULL,
	[STDPICTURE] [dbo].[DOM_FILE] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[LessonAlternative]    Script Date: 01/10/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[LessonAlternative] as 
select l.LSNID, l.STDCODE, l.ACCID, l.DCFCODE, l.LSNTITLE, l.LSNDESCRIPTION, l.LSNTARGET, l.LSNDATE, isnull(l.LSNPICTURE, s.STDPICTURE) as LSNPICTURE, l.LSNDURATION, CAST(CASE WHEN l.LSNPICTURE IS NOT NULL THEN 'False' ELSE 'True' END AS BIT) as ISALTERNATIVE from Lesson l
join Study s
on l.STDCODE = s.STDCODE;
GO
INSERT [dbo].[Account] ([ACCID], [CTRCODE], [ATPCODE], [ACCEMAIL], [ACCPASSWORD], [ACCPHONECONTACT], [ACCPICTURE], [ACCINSCRIPTIONDATE]) VALUES (N'e8bc0c1e-bb9f-e811-8220-2c600c6934be', N'a7e8fac3-9f91-e811-821f-2c600c6934be', N'09ee69af-a191-e811-821f-2c600c6934be', N'etudiant1@itu.local', N'', N'+261 34 00 000 00', N'e8bc0c1e-bb9f-e811-8220-2c600c6934be.jpg', CAST(0x0000A93C00FA3D26 AS DateTime))
INSERT [dbo].[Account] ([ACCID], [CTRCODE], [ATPCODE], [ACCEMAIL], [ACCPASSWORD], [ACCPHONECONTACT], [ACCPICTURE], [ACCINSCRIPTIONDATE]) VALUES (N'9eeedeac-91af-e811-8222-2c600c6934be', N'a7e8fac3-9f91-e811-821f-2c600c6934be', N'4650653e-e49a-e811-821f-2c600c6934be', N'prof2@itu.local', N'', N'+261 33 34 365 36', N'9eeedeac-91af-e811-8222-2c600c6934be.jpg', CAST(0x0000A9500137A9D3 AS DateTime))
INSERT [dbo].[Account] ([ACCID], [CTRCODE], [ATPCODE], [ACCEMAIL], [ACCPASSWORD], [ACCPHONECONTACT], [ACCPICTURE], [ACCINSCRIPTIONDATE]) VALUES (N'bbf094e2-42b3-e811-8222-2c600c6934be', N'a8e8fac3-9f91-e811-821f-2c600c6934be', N'4650653e-e49a-e811-821f-2c600c6934be', N'jean@itu.local', N'', N'+261 33 33 375 64', NULL, CAST(0x0000A95500C07C02 AS DateTime))
INSERT [dbo].[AccountStudent] ([ACSID], [ACCID], [GENCODE], [ACSFIRSTNAME], [ACSNAME], [ACSBIRTHDAY]) VALUES (N'4cf9efb1-8cbe-e811-8225-2c600c6934be', N'0ba7a6da-76bd-e811-8224-2c600c6934be', N'234eedbd-cc9b-e811-8220-2c600c6934be', N'Etudiant', N'Troisieme', CAST(0x000086510150F1A6 AS DateTime))
INSERT [dbo].[AccountStudent] ([ACSID], [ACCID], [GENCODE], [ACSFIRSTNAME], [ACSNAME], [ACSBIRTHDAY]) VALUES (N'42fe80dd-8cbe-e811-8225-2c600c6934be', N'e8bc0c1e-bb9f-e811-8220-2c600c6934be', N'244eedbd-cc9b-e811-8220-2c600c6934be', N'Sérieuse', N'Etudiante', CAST(0x00008D6200000000 AS DateTime))
INSERT [dbo].[AccountStudent] ([ACSID], [ACCID], [GENCODE], [ACSFIRSTNAME], [ACSNAME], [ACSBIRTHDAY]) VALUES (N'dbb3e636-90be-e811-8225-2c600c6934be', N'dab3e636-90be-e811-8225-2c600c6934be', N'244eedbd-cc9b-e811-8220-2c600c6934be', N'Sympa', N'Etudiante', CAST(0x0000836100000000 AS DateTime))
INSERT [dbo].[AccountTeacher] ([ACTID], [ACCID], [GENCODE], [ACTFIRSTNAME], [ACTNAME], [ACTBIRTHDAY], [ACTTOWN], [ACTPOSTALCODE], [ACTADDRESS], [ACTCV]) VALUES (N'90b6e704-8ebe-e811-8225-2c600c6934be', N'9ab7771d-f69f-e811-8220-2c600c6934be', N'234eedbd-cc9b-e811-8220-2c600c6934be', N'Premier', N'Prof', CAST(0x0000777601538AAA AS DateTime), N'Antananarivo', N'101', N'Chez lui', NULL)
INSERT [dbo].[AccountTeacher] ([ACTID], [ACCID], [GENCODE], [ACTFIRSTNAME], [ACTNAME], [ACTBIRTHDAY], [ACTTOWN], [ACTPOSTALCODE], [ACTADDRESS], [ACTCV]) VALUES (N'd4fedc64-8ebe-e811-8225-2c600c6934be', N'9eeedeac-91af-e811-8222-2c600c6934be', N'234eedbd-cc9b-e811-8220-2c600c6934be', N'Premier', N'Rabe', CAST(0x0000819D00000000 AS DateTime), N'Antananarivo', N'106', N'Lot IIII A Analakely ', NULL)
INSERT [dbo].[AccountTeacher] ([ACTID], [ACCID], [GENCODE], [ACTFIRSTNAME], [ACTNAME], [ACTBIRTHDAY], [ACTTOWN], [ACTPOSTALCODE], [ACTADDRESS], [ACTCV]) VALUES (N'056f9a99-8ebe-e811-8225-2c600c6934be', N'bbf094e2-42b3-e811-8222-2c600c6934be', N'234eedbd-cc9b-e811-8220-2c600c6934be', N'Jean', N'Maitre', CAST(0x0000819D0154AD79 AS DateTime), N'Antananarivo', N'102', N'Chez Jean', NULL)
INSERT [dbo].[AccountType] ([ATPCODE], [ATPWORDING]) VALUES (N'09ee69af-a191-e811-821f-2c600c6934be', N'STUDENT')
INSERT [dbo].[AccountType] ([ATPCODE], [ATPWORDING]) VALUES (N'4650653e-e49a-e811-821f-2c600c6934be', N'TEACHER')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'd1da5870-be8c-4c82-9755-d364518b3fc9', N'STUDENT')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1fb8f104-e7b2-4c79-a3ca-013a20ab5991', N'TEACHER')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'113901245989860449082', N'f0cf913a-6d19-4bc0-8b01-c01327fea13a')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'48d64215-1210-4bfe-9dda-3028871a3d0e', N'1fb8f104-e7b2-4c79-a3ca-013a20ab5991')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6c6d8fe0-c80f-434c-978a-a32d06a226f7', N'1fb8f104-e7b2-4c79-a3ca-013a20ab5991')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'aba61c9c-ee80-4c1c-b905-7d3c4143a90f', N'1fb8f104-e7b2-4c79-a3ca-013a20ab5991')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Account_Id]) VALUES (N'48d64215-1210-4bfe-9dda-3028871a3d0e', N'prof2@itu.local', 0, N'APrDMzDLm7pV7IncAmsObgDrcAAyvLYSgwBOUf2TGzpXrvyVdPOso/wMEO1PF8WQNw==', N'f22c918e-16d5-4ddd-a158-81959505fcf3', NULL, 0, 0, NULL, 1, 0, N'prof2@itu.local', N'9eeedeac-91af-e811-8222-2c600c6934be')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Account_Id]) VALUES (N'6c6d8fe0-c80f-434c-978a-a32d06a226f7', N'jean@itu.local', 0, N'AKj1BSd9cZ7I6LLAODOCgOYEyGXHS/ew2xikyr5VsFZ2XsgvuaOE8s+yiaNM/5FD3g==', N'bc3b0b97-62c4-434c-9615-585e5570d140', NULL, 0, 0, NULL, 1, 0, N'jean@itu.local', N'bbf094e2-42b3-e811-8222-2c600c6934be')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Account_Id]) VALUES (N'8037baa8-4321-4818-9014-db7e23255aa0', N'soa@itu.local', 1, N'ABEmVgzHXPZP56FqAQX/6fw4zvDg7sX4hsvYPbMD9uexL4Neyr0lAvuHeD2uh5ZnDw==', N'd5df69e4-5923-4914-b0af-55c71917e3e7', NULL, 0, 0, NULL, 1, 0, N'soa@itu.local', N'fb436e0c-20c3-e811-8228-2c600c6934be')
INSERT [dbo].[Country] ([CTRCODE], [CTRNAME]) VALUES (N'a7e8fac3-9f91-e811-821f-2c600c6934be', N'Madagascar')
INSERT [dbo].[Country] ([CTRCODE], [CTRNAME]) VALUES (N'a8e8fac3-9f91-e811-821f-2c600c6934be', N'France')
INSERT [dbo].[Culture] ([CLTCODE], [CLTWORDING]) VALUES (N'en-US', N'English')
INSERT [dbo].[Culture] ([CLTCODE], [CLTWORDING]) VALUES (N'fr-Fr', N'Français')
INSERT [dbo].[DocumentConfidentiality] ([DCFCODE], [DCFWORDING]) VALUES (N'7ccaf4e2-cf9e-e811-8220-2c600c6934be', N'PUBLIC')
INSERT [dbo].[DocumentState] ([DCSCODE], [DCSWORDING]) VALUES (N'03529c5e-3fba-e811-8225-2c600c6934be', N'VALID')
INSERT [dbo].[DocumentState] ([DCSCODE], [DCSWORDING]) VALUES (N'980a694a-40ba-e811-8225-2c600c6934be', N'WRITING')
INSERT [dbo].[EntityStrings] ([ESTENTITYID], [CLTCODE], [ESTWORDING]) VALUES (N'234eedbd-cc9b-e811-8220-2c600c6934be', N'en-US', N'Man')
INSERT [dbo].[EntityStrings] ([ESTENTITYID], [CLTCODE], [ESTWORDING]) VALUES (N'244eedbd-cc9b-e811-8220-2c600c6934be', N'en-US', N'Woman')
INSERT [dbo].[EntityStrings] ([ESTENTITYID], [CLTCODE], [ESTWORDING]) VALUES (N'234eedbd-cc9b-e811-8220-2c600c6934be', N'fr-Fr', N'Homme')
INSERT [dbo].[FollowState] ([FLSCODE], [FLSWORDING]) VALUES (N'7abd2a4e-52b7-e811-8225-2c600c6934be', N'STARTED   ')
INSERT [dbo].[FollowState] ([FLSCODE], [FLSWORDING]) VALUES (N'11937790-52b7-e811-8225-2c600c6934be', N'FINISHED  ')
INSERT [dbo].[Gender] ([GENCODE], [GENWORDING]) VALUES (N'234eedbd-cc9b-e811-8220-2c600c6934be', N'Homme')
INSERT [dbo].[Gender] ([GENCODE], [GENWORDING]) VALUES (N'244eedbd-cc9b-e811-8220-2c600c6934be', N'Femme')
INSERT [dbo].[LessonFollowed] ([ACCID], [LSNID], [FLSCODE], [LSFDATE], [LSFCHAPTER], [LSFPART]) VALUES (N'e8bc0c1e-bb9f-e811-8220-2c600c6934be', N'd2a6d649-abaf-e811-8222-2c600c6934be', N'7abd2a4e-52b7-e811-8225-2c600c6934be', CAST(0x0000A95F00E4C61F AS DateTime), 1, 0)
INSERT [dbo].[LessonFollowed] ([ACCID], [LSNID], [FLSCODE], [LSFDATE], [LSFCHAPTER], [LSFPART]) VALUES (N'e8bc0c1e-bb9f-e811-8220-2c600c6934be', N'ac5a4353-36b3-e811-8222-2c600c6934be', N'7abd2a4e-52b7-e811-8225-2c600c6934be', CAST(0x0000A961013A871B AS DateTime), 1, NULL)
INSERT [dbo].[LessonFollowed] ([ACCID], [LSNID], [FLSCODE], [LSFDATE], [LSFCHAPTER], [LSFPART]) VALUES (N'e8bc0c1e-bb9f-e811-8220-2c600c6934be', N'8ba35141-85ba-e811-8225-2c600c6934be', N'7abd2a4e-52b7-e811-8225-2c600c6934be', CAST(0x0000A95F00E29D28 AS DateTime), 1, 2)
INSERT [dbo].[Study] ([STDCODE], [STDNAME], [STDDESCRIPTION], [STDPICTURE]) VALUES (N'8cde8a70-9b9c-e811-8220-2c600c6934be', N'Sciences et technologies', N'', N'8cde8a70-9b9c-e811-8220-2c600c6934be.jpg')
INSERT [dbo].[Study] ([STDCODE], [STDNAME], [STDDESCRIPTION], [STDPICTURE]) VALUES (N'e97dc2f7-9b9c-e811-8220-2c600c6934be', N'Marketing', N'', N'e97dc2f7-9b9c-e811-8220-2c600c6934be.jpg')
INSERT [dbo].[Study] ([STDCODE], [STDNAME], [STDDESCRIPTION], [STDPICTURE]) VALUES (N'89b16d41-9c9c-e811-8220-2c600c6934be', N'Droit', N'', N'89b16d41-9c9c-e811-8220-2c600c6934be.jpg')
/****** Object:  Index [PK_ACCOUNT]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [PK_ACCOUNT] PRIMARY KEY NONCLUSTERED 
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [COUNTRY_OF_ACCOUNT_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [COUNTRY_OF_ACCOUNT_FK] ON [dbo].[Account]
(
	[CTRCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TYPE_OF_ACCOUNT_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [TYPE_OF_ACCOUNT_FK] ON [dbo].[Account]
(
	[ATPCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ACCOUNTSTUDENT]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[AccountStudent] ADD  CONSTRAINT [PK_ACCOUNTSTUDENT] PRIMARY KEY NONCLUSTERED 
(
	[ACSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACCOUNT_OF_STUDENT2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [ACCOUNT_OF_STUDENT2_FK] ON [dbo].[AccountStudent]
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GENDER_OF_STUDENT_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [GENDER_OF_STUDENT_FK] ON [dbo].[AccountStudent]
(
	[GENCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACCOUNTSTUDY_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [ACCOUNTSTUDY_FK] ON [dbo].[AccountStudy]
(
	[STDCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACCOUNTSTUDY2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [ACCOUNTSTUDY2_FK] ON [dbo].[AccountStudy]
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ACCOUNTTEACHER]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[AccountTeacher] ADD  CONSTRAINT [PK_ACCOUNTTEACHER] PRIMARY KEY NONCLUSTERED 
(
	[ACTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACCOUNT_OF_TEACHER2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [ACCOUNT_OF_TEACHER2_FK] ON [dbo].[AccountTeacher]
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [GENDER_OF_TEACHER_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [GENDER_OF_TEACHER_FK] ON [dbo].[AccountTeacher]
(
	[GENCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ACCOUNTTYPE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[AccountType] ADD  CONSTRAINT [PK_ACCOUNTTYPE] PRIMARY KEY NONCLUSTERED 
(
	[ATPCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 01/10/2018 16:04:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 01/10/2018 16:04:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CATEGORY]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [PK_CATEGORY] PRIMARY KEY NONCLUSTERED 
(
	[CTGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_COUNTRY]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [PK_COUNTRY] PRIMARY KEY NONCLUSTERED 
(
	[CTRCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CULTURE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Culture] ADD  CONSTRAINT [PK_CULTURE] PRIMARY KEY NONCLUSTERED 
(
	[CLTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CURRICULUM]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Curriculum] ADD  CONSTRAINT [PK_CURRICULUM] PRIMARY KEY NONCLUSTERED 
(
	[CURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDY_OF_CURRICULUM_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [STUDY_OF_CURRICULUM_FK] ON [dbo].[Curriculum]
(
	[STDCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CURRICULUMCATEGORY_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CURRICULUMCATEGORY_FK] ON [dbo].[CurriculumCategory]
(
	[CTGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CURRICULUMCATEGORY2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CURRICULUMCATEGORY2_FK] ON [dbo].[CurriculumCategory]
(
	[CURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CURRICULUMLESSONS_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CURRICULUMLESSONS_FK] ON [dbo].[CurriculumLessons]
(
	[LSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CURRICULUMLESSONS2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CURRICULUMLESSONS2_FK] ON [dbo].[CurriculumLessons]
(
	[CURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CURRICULUMSUBSCRIPTION_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CURRICULUMSUBSCRIPTION_FK] ON [dbo].[CurriculumSubscription]
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CURRICULUMSUBSCRIPTION2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CURRICULUMSUBSCRIPTION2_FK] ON [dbo].[CurriculumSubscription]
(
	[CURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DOCUMENTCONFIDENTIALITY]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[DocumentConfidentiality] ADD  CONSTRAINT [PK_DOCUMENTCONFIDENTIALITY] PRIMARY KEY NONCLUSTERED 
(
	[DCFCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DOCUMENTSTATE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[DocumentState] ADD  CONSTRAINT [PK_DOCUMENTSTATE] PRIMARY KEY NONCLUSTERED 
(
	[DCSCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CULTURE_OF_ENTITY_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CULTURE_OF_ENTITY_FK] ON [dbo].[EntityStrings]
(
	[CLTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EXERCICE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Exercice] ADD  CONSTRAINT [PK_EXERCICE] PRIMARY KEY NONCLUSTERED 
(
	[EXCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXCERCICE_OF_LESSON_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [EXCERCICE_OF_LESSON_FK] ON [dbo].[Exercice]
(
	[LSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXERCICECORRECTION_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [EXERCICECORRECTION_FK] ON [dbo].[ExerciceCorrection]
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXERCICECORRECTION2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [EXERCICECORRECTION2_FK] ON [dbo].[ExerciceCorrection]
(
	[EXDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EXERCICEDONE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[ExerciceDone] ADD  CONSTRAINT [PK_EXERCICEDONE] PRIMARY KEY NONCLUSTERED 
(
	[EXDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACCOUNT_OF_EXERCICE_DONE_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [ACCOUNT_OF_EXERCICE_DONE_FK] ON [dbo].[ExerciceDone]
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXERCICE_OF_EXERCICE_DONE_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [EXERCICE_OF_EXERCICE_DONE_FK] ON [dbo].[ExerciceDone]
(
	[EXCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EXERCICEQUESTION]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[ExerciceQuestion] ADD  CONSTRAINT [PK_EXERCICEQUESTION] PRIMARY KEY NONCLUSTERED 
(
	[EXQCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FIELD_TYPE_OF_QUESTION_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [FIELD_TYPE_OF_QUESTION_FK] ON [dbo].[ExerciceQuestion]
(
	[FLDCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [QUESTIONS_OF_EXERCICE_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [QUESTIONS_OF_EXERCICE_FK] ON [dbo].[ExerciceQuestion]
(
	[EXCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TYPE_OF_QUESTION_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [TYPE_OF_QUESTION_FK] ON [dbo].[ExerciceQuestion]
(
	[EQTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [VALUES_CHOICE_OF_QUESTION_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [VALUES_CHOICE_OF_QUESTION_FK] ON [dbo].[ExerciceQuestion]
(
	[EQCCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXERCICEQUESTIONANSWER_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [EXERCICEQUESTIONANSWER_FK] ON [dbo].[ExerciceQuestionAnswer]
(
	[EXDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXERCICEQUESTIONANSWER2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [EXERCICEQUESTIONANSWER2_FK] ON [dbo].[ExerciceQuestionAnswer]
(
	[EXQCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EXERCICEQUESTIONCHOICE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[ExerciceQuestionChoice] ADD  CONSTRAINT [PK_EXERCICEQUESTIONCHOICE] PRIMARY KEY NONCLUSTERED 
(
	[EQCCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EXERCICEQUESTIONTYPE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[ExerciceQuestionType] ADD  CONSTRAINT [PK_EXERCICEQUESTIONTYPE] PRIMARY KEY NONCLUSTERED 
(
	[EQTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FIELDTYPE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[FieldType] ADD  CONSTRAINT [PK_FIELDTYPE] PRIMARY KEY NONCLUSTERED 
(
	[FLDCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FOLLOWSTATE]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[FollowState] ADD  CONSTRAINT [PK_FOLLOWSTATE] PRIMARY KEY NONCLUSTERED 
(
	[FLSCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_GENDER]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Gender] ADD  CONSTRAINT [PK_GENDER] PRIMARY KEY NONCLUSTERED 
(
	[GENCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LESSON]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Lesson] ADD  CONSTRAINT [PK_LESSON] PRIMARY KEY NONCLUSTERED 
(
	[LSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONFIDENTIALITY_OF_LESSON_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CONFIDENTIALITY_OF_LESSON_FK] ON [dbo].[Lesson]
(
	[DCFCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LESSON_POSTED_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [LESSON_POSTED_FK] ON [dbo].[Lesson]
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDY_OF_LESSON_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [STUDY_OF_LESSON_FK] ON [dbo].[Lesson]
(
	[STDCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LESSONCHAPTER]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[LessonChapter] ADD  CONSTRAINT [PK_LESSONCHAPTER] PRIMARY KEY NONCLUSTERED 
(
	[LSCCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CHAPTER_OF_LESSON_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [CHAPTER_OF_LESSON_FK] ON [dbo].[LessonChapter]
(
	[LSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LESSONFOLLOWED_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [LESSONFOLLOWED_FK] ON [dbo].[LessonFollowed]
(
	[ACCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LESSONFOLLOWED2_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [LESSONFOLLOWED2_FK] ON [dbo].[LessonFollowed]
(
	[LSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LESSONFOLLOWED3_FK]    Script Date: 01/10/2018 16:04:21 ******/
CREATE NONCLUSTERED INDEX [LESSONFOLLOWED3_FK] ON [dbo].[LessonFollowed]
(
	[FLSCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_STUDY]    Script Date: 01/10/2018 16:04:21 ******/
ALTER TABLE [dbo].[Study] ADD  CONSTRAINT [PK_STUDY] PRIMARY KEY NONCLUSTERED 
(
	[STDCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (newsequentialid()) FOR [ACCID]
GO
ALTER TABLE [dbo].[AccountStudent] ADD  DEFAULT (newsequentialid()) FOR [ACSID]
GO
ALTER TABLE [dbo].[AccountTeacher] ADD  DEFAULT (newsequentialid()) FOR [ACTID]
GO
ALTER TABLE [dbo].[AccountType] ADD  CONSTRAINT [DF_ATPCODE]  DEFAULT (newsequentialid()) FOR [ATPCODE]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (newsequentialid()) FOR [CTGID]
GO
ALTER TABLE [dbo].[Country] ADD  DEFAULT (newsequentialid()) FOR [CTRCODE]
GO
ALTER TABLE [dbo].[Curriculum] ADD  DEFAULT (newsequentialid()) FOR [CURID]
GO
ALTER TABLE [dbo].[DocumentConfidentiality] ADD  DEFAULT (newsequentialid()) FOR [DCFCODE]
GO
ALTER TABLE [dbo].[DocumentState] ADD  DEFAULT (newsequentialid()) FOR [DCSCODE]
GO
ALTER TABLE [dbo].[Exercice] ADD  DEFAULT (newsequentialid()) FOR [EXCID]
GO
ALTER TABLE [dbo].[ExerciceDone] ADD  DEFAULT (newsequentialid()) FOR [EXDID]
GO
ALTER TABLE [dbo].[ExerciceQuestion] ADD  DEFAULT (newsequentialid()) FOR [EXQCODE]
GO
ALTER TABLE [dbo].[ExerciceQuestionChoice] ADD  DEFAULT (newsequentialid()) FOR [EQCCODE]
GO
ALTER TABLE [dbo].[ExerciceQuestionType] ADD  DEFAULT (newsequentialid()) FOR [EQTCODE]
GO
ALTER TABLE [dbo].[FieldType] ADD  DEFAULT (newsequentialid()) FOR [FLDCODE]
GO
ALTER TABLE [dbo].[FollowState] ADD  DEFAULT (newsequentialid()) FOR [FLSCODE]
GO
ALTER TABLE [dbo].[Gender] ADD  CONSTRAINT [DF_GENCODE]  DEFAULT (newsequentialid()) FOR [GENCODE]
GO
ALTER TABLE [dbo].[Lesson] ADD  DEFAULT (newsequentialid()) FOR [LSNID]
GO
ALTER TABLE [dbo].[LessonChapter] ADD  DEFAULT (newsequentialid()) FOR [LSCCODE]
GO
ALTER TABLE [dbo].[LessonPart] ADD  DEFAULT (newsequentialid()) FOR [LSPCODE]
GO
ALTER TABLE [dbo].[Study] ADD  DEFAULT (newsequentialid()) FOR [STDCODE]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_COUNTRY_O_COUNTRY] FOREIGN KEY([CTRCODE])
REFERENCES [dbo].[Country] ([CTRCODE])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_ACCOUNT_COUNTRY_O_COUNTRY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_TYPE_OF_A_ACCOUNTT] FOREIGN KEY([ATPCODE])
REFERENCES [dbo].[AccountType] ([ATPCODE])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_ACCOUNT_TYPE_OF_A_ACCOUNTT]
GO
ALTER TABLE [dbo].[AccountStudent]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTS_ACCOUNT_O_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[Account] ([ACCID])
GO
ALTER TABLE [dbo].[AccountStudent] CHECK CONSTRAINT [FK_ACCOUNTS_ACCOUNT_O_ACCOUNT]
GO
ALTER TABLE [dbo].[AccountStudent]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTS_GENDER_OF_GENDER] FOREIGN KEY([GENCODE])
REFERENCES [dbo].[Gender] ([GENCODE])
GO
ALTER TABLE [dbo].[AccountStudent] CHECK CONSTRAINT [FK_ACCOUNTS_GENDER_OF_GENDER]
GO
ALTER TABLE [dbo].[AccountStudy]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTS_ACCOUNTST_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[Account] ([ACCID])
GO
ALTER TABLE [dbo].[AccountStudy] CHECK CONSTRAINT [FK_ACCOUNTS_ACCOUNTST_ACCOUNT]
GO
ALTER TABLE [dbo].[AccountStudy]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTS_ACCOUNTST_STUDY] FOREIGN KEY([STDCODE])
REFERENCES [dbo].[Study] ([STDCODE])
GO
ALTER TABLE [dbo].[AccountStudy] CHECK CONSTRAINT [FK_ACCOUNTS_ACCOUNTST_STUDY]
GO
ALTER TABLE [dbo].[AccountTeacher]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTT_ACCOUNT_O_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[Account] ([ACCID])
GO
ALTER TABLE [dbo].[AccountTeacher] CHECK CONSTRAINT [FK_ACCOUNTT_ACCOUNT_O_ACCOUNT]
GO
ALTER TABLE [dbo].[AccountTeacher]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNTT_GENDER_OF_GENDER] FOREIGN KEY([GENCODE])
REFERENCES [dbo].[Gender] ([GENCODE])
GO
ALTER TABLE [dbo].[AccountTeacher] CHECK CONSTRAINT [FK_ACCOUNTT_GENDER_OF_GENDER]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Account_Id] FOREIGN KEY([Account_Id])
REFERENCES [dbo].[Account] ([ACCID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Account_Id]
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD  CONSTRAINT [FK_CURRICUL_STUDY_OF__STUDY] FOREIGN KEY([STDCODE])
REFERENCES [dbo].[Study] ([STDCODE])
GO
ALTER TABLE [dbo].[Curriculum] CHECK CONSTRAINT [FK_CURRICUL_STUDY_OF__STUDY]
GO
ALTER TABLE [dbo].[CurriculumCategory]  WITH CHECK ADD  CONSTRAINT [FK_CURRICUL_CURRICULU_CATEGORY] FOREIGN KEY([CTGID])
REFERENCES [dbo].[Category] ([CTGID])
GO
ALTER TABLE [dbo].[CurriculumCategory] CHECK CONSTRAINT [FK_CURRICUL_CURRICULU_CATEGORY]
GO
ALTER TABLE [dbo].[CurriculumCategory]  WITH CHECK ADD  CONSTRAINT [FK_CURRICUL_CURRICULU_CURRICUL2] FOREIGN KEY([CURID])
REFERENCES [dbo].[Curriculum] ([CURID])
GO
ALTER TABLE [dbo].[CurriculumCategory] CHECK CONSTRAINT [FK_CURRICUL_CURRICULU_CURRICUL2]
GO
ALTER TABLE [dbo].[CurriculumLessons]  WITH CHECK ADD  CONSTRAINT [FK_CURRICUL_CURRICULU_CURRICUL3] FOREIGN KEY([CURID])
REFERENCES [dbo].[Curriculum] ([CURID])
GO
ALTER TABLE [dbo].[CurriculumLessons] CHECK CONSTRAINT [FK_CURRICUL_CURRICULU_CURRICUL3]
GO
ALTER TABLE [dbo].[CurriculumSubscription]  WITH CHECK ADD  CONSTRAINT [FK_CURRICUL_CURRICULU_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[Account] ([ACCID])
GO
ALTER TABLE [dbo].[CurriculumSubscription] CHECK CONSTRAINT [FK_CURRICUL_CURRICULU_ACCOUNT]
GO
ALTER TABLE [dbo].[CurriculumSubscription]  WITH CHECK ADD  CONSTRAINT [FK_CURRICUL_CURRICULU_CURRICUL] FOREIGN KEY([CURID])
REFERENCES [dbo].[Curriculum] ([CURID])
GO
ALTER TABLE [dbo].[CurriculumSubscription] CHECK CONSTRAINT [FK_CURRICUL_CURRICULU_CURRICUL]
GO
ALTER TABLE [dbo].[EntityStrings]  WITH CHECK ADD  CONSTRAINT [FK_ENTITYST_CULTURE_O_CULTURE] FOREIGN KEY([CLTCODE])
REFERENCES [dbo].[Culture] ([CLTCODE])
GO
ALTER TABLE [dbo].[EntityStrings] CHECK CONSTRAINT [FK_ENTITYST_CULTURE_O_CULTURE]
GO
ALTER TABLE [dbo].[ExerciceCorrection]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_EXERCICEC_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[Account] ([ACCID])
GO
ALTER TABLE [dbo].[ExerciceCorrection] CHECK CONSTRAINT [FK_EXERCICE_EXERCICEC_ACCOUNT]
GO
ALTER TABLE [dbo].[ExerciceCorrection]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_EXERCICEC_EXERCICE] FOREIGN KEY([EXDID])
REFERENCES [dbo].[ExerciceDone] ([EXDID])
GO
ALTER TABLE [dbo].[ExerciceCorrection] CHECK CONSTRAINT [FK_EXERCICE_EXERCICEC_EXERCICE]
GO
ALTER TABLE [dbo].[ExerciceDone]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_ACCOUNT_O_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[Account] ([ACCID])
GO
ALTER TABLE [dbo].[ExerciceDone] CHECK CONSTRAINT [FK_EXERCICE_ACCOUNT_O_ACCOUNT]
GO
ALTER TABLE [dbo].[ExerciceDone]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_EXERCICE__EXERCICE] FOREIGN KEY([EXCID])
REFERENCES [dbo].[Exercice] ([EXCID])
GO
ALTER TABLE [dbo].[ExerciceDone] CHECK CONSTRAINT [FK_EXERCICE_EXERCICE__EXERCICE]
GO
ALTER TABLE [dbo].[ExerciceQuestion]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_FIELD_TYP_FIELDTYP] FOREIGN KEY([FLDCODE])
REFERENCES [dbo].[FieldType] ([FLDCODE])
GO
ALTER TABLE [dbo].[ExerciceQuestion] CHECK CONSTRAINT [FK_EXERCICE_FIELD_TYP_FIELDTYP]
GO
ALTER TABLE [dbo].[ExerciceQuestion]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_QUESTIONS_EXERCICE] FOREIGN KEY([EXCID])
REFERENCES [dbo].[Exercice] ([EXCID])
GO
ALTER TABLE [dbo].[ExerciceQuestion] CHECK CONSTRAINT [FK_EXERCICE_QUESTIONS_EXERCICE]
GO
ALTER TABLE [dbo].[ExerciceQuestion]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_TYPE_OF_Q_EXERCICE] FOREIGN KEY([EQTCODE])
REFERENCES [dbo].[ExerciceQuestionType] ([EQTCODE])
GO
ALTER TABLE [dbo].[ExerciceQuestion] CHECK CONSTRAINT [FK_EXERCICE_TYPE_OF_Q_EXERCICE]
GO
ALTER TABLE [dbo].[ExerciceQuestion]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_VALUES_CH_EXERCICE] FOREIGN KEY([EQCCODE])
REFERENCES [dbo].[ExerciceQuestionChoice] ([EQCCODE])
GO
ALTER TABLE [dbo].[ExerciceQuestion] CHECK CONSTRAINT [FK_EXERCICE_VALUES_CH_EXERCICE]
GO
ALTER TABLE [dbo].[ExerciceQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_EXERCICEQ_EXERCICE] FOREIGN KEY([EXQCODE])
REFERENCES [dbo].[ExerciceQuestion] ([EXQCODE])
GO
ALTER TABLE [dbo].[ExerciceQuestionAnswer] CHECK CONSTRAINT [FK_EXERCICE_EXERCICEQ_EXERCICE]
GO
ALTER TABLE [dbo].[ExerciceQuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FK_EXERCICE_EXERCICEQ_EXERCICE2] FOREIGN KEY([EXDID])
REFERENCES [dbo].[ExerciceDone] ([EXDID])
GO
ALTER TABLE [dbo].[ExerciceQuestionAnswer] CHECK CONSTRAINT [FK_EXERCICE_EXERCICEQ_EXERCICE2]
GO
ALTER TABLE [dbo].[LessonChapter]  WITH CHECK ADD  CONSTRAINT [FK_LESSONCH_CHAPTER_O_LESSON] FOREIGN KEY([LSNID])
REFERENCES [dbo].[Lesson] ([LSNID])
GO
ALTER TABLE [dbo].[LessonChapter] CHECK CONSTRAINT [FK_LESSONCH_CHAPTER_O_LESSON]
GO
ALTER TABLE [dbo].[LessonFollowed]  WITH CHECK ADD  CONSTRAINT [FK_LESSONFO_LESSONFOL_ACCOUNT] FOREIGN KEY([ACCID])
REFERENCES [dbo].[Account] ([ACCID])
GO
ALTER TABLE [dbo].[LessonFollowed] CHECK CONSTRAINT [FK_LESSONFO_LESSONFOL_ACCOUNT]
GO
ALTER TABLE [dbo].[LessonFollowed]  WITH CHECK ADD  CONSTRAINT [FK_LESSONFO_LESSONFOL_FOLLOWST] FOREIGN KEY([FLSCODE])
REFERENCES [dbo].[FollowState] ([FLSCODE])
GO
ALTER TABLE [dbo].[LessonFollowed] CHECK CONSTRAINT [FK_LESSONFO_LESSONFOL_FOLLOWST]
GO
ALTER TABLE [dbo].[LessonPart]  WITH CHECK ADD  CONSTRAINT [FK_LESSONPA_PART_OF_C_LESSONCH] FOREIGN KEY([LSCCODE])
REFERENCES [dbo].[LessonChapter] ([LSCCODE])
GO
ALTER TABLE [dbo].[LessonPart] CHECK CONSTRAINT [FK_LESSONPA_PART_OF_C_LESSONCH]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Study (FR: filière) types for students' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Study'
GO
USE [master]
GO
