@model ASTEK.Architecture.UI.MVC.Models.Comment.CommentViewModel

<div class="commnets-area">

    <div class="comment">

        <div class="post-info">

            <div class="left-area">
                @Html.Partial("_AccountPicture", Model.Comment.Account)
            </div>

            <div class="middle-area">
                <a class="name" href="#"><b>@Html.Partial("_AccountName", Model.Comment.Account)</b></a>
                <h6 class="date">@Model.Comment.COMDATE.ToString("dd-MM-yyyy hh:mm")</h6>
            </div>

            <div class="right-area">
                <h5 class="reply-btn"><a href="#"><b>Répondre</b></a></h5>
            </div>

        </div><!-- post-info -->

        <p>
            @Model.Comment.COMCONTENT
        </p>

    </div>

    @*<div class="comment">
        <h5 class="reply-for">Reply for <a href="#"><b>Katy Lui</b></a></h5>

        <div class="post-info">

            <div class="left-area">
                <a class="avatar" href="#"><img src="images/avatar-1-120x120.jpg" alt="Profile Image"></a>
            </div>

            <div class="middle-area">
                <a class="name" href="#"><b>Katy Liu</b></a>
                <h6 class="date">on Sep 29, 2017 at 9:48 am</h6>
            </div>

            <div class="right-area">
                <h5 class="reply-btn"><a href="#"><b>REPLY</b></a></h5>
            </div>

        </div> post-info 

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
            Ut enim ad minim veniam
        </p>

    </div>*@

</div><!-- commnets-area -->