.page-breaker {
    page-break-after: always;
}

#studyName {
    margin-top: 100px;
    text-transform: uppercase;
}

#lessonTitle {
    margin-top: 100px;
}

#teacherName {
    margin-top: 40px;
}

#lessonDate {
    margin-top: 40px;
}

.lesson-export-navigation {
    margin-top: 400px;
}

#navigation-content {
    margin-top: 50px;
}

.lesson-export-chapter {
    margin-top: 25px;
}

.lesson-export-part-title {
    padding-left: 50px;
    margin-top: 15px;
}

.lesson-export-description {
    margin-top: 200px;
}

.lesson-export-target {
    margin-top: 50px;
}

.lesson-export-content {
    margin-top: 200px;
}

    .lesson-export-content .chapter {
        padding-bottom: 100px;
    }

        .lesson-export-content .chapter .chapter-description {
            padding-top: 50px;
        }

        .lesson-export-content .chapter .chapter-content {
            padding-top: 50px;
        }

    .lesson-export-content .parts {
        margin-top: 100px;
    }

        .lesson-export-content .parts .part {
            margin-top: 50px;
        }

            .lesson-export-content .parts .part .part-content {
                margin-top: 50px;
            }

.lesson-export-footer{
    margin-top: 100px;
}