@model ASTEK.Architecture.ApplicationService.Entity.Study.GetAllStudyOutputModel

<div class="col-lg-4 col-md-6">
    <div class="footer-section">
        <h4 style="font-weight: 800;"><strong>@UIStrings.Studies.ToUpper()</strong></h4>
        <ul>
            @foreach (var study in Model.Response.Studies)
            {
                <li>@Html.ActionLink(study.STDNAME, "Index", "Study", new { id = study.STDCODE }, null)</li>
            }
        </ul>
    </div><!-- footer-section -->
</div><!-- col-lg-4 col-md-6 -->