
<ul class="icons">
    <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
    <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
    <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
    <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
</ul>